extends base
block content 
  nav.mt-4(aria-label='breadcrumb')
    ol.breadcrumb
     li.breadcrumb-item(aria-current='page') 
      a(href="/") Home
     li.breadcrumb-item.active(aria-current='page') Orders

  table.table
    thead.thead-dark
      tr
        th(scope='col') ID
        th(scope='col') Product
        th(scope='col') Price
        th(scope='col') Status
        th(scope='col') Date
    tbody
      each order in orders 
        tr
          td #{order.id}
          td #{order.productId}
          td #{order.total}
          td #{order.status}
          td= `${order.createdAt.toLocaleDateString()}`
    
